<%= path(@group) %>
<h1>Editing group</h1>

<%= render 'form' %>

<ul class="buttons">
  <li><%= link_to 'Cancel', @group, :class => "button" %></li>
  <li><%= link_to 'Groups', groups_path, :class => "button" %></li>
</ul>


