<h1>Boards</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @boards.each do |board| %>
  <tr>
    <td><%= link_to board.name, board %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Board', new_board_path %>
